.cover__subtitle {
  text-align: center;
  font-weight: normal;
  font-size: 4.375vw;
  line-height: 114.285714%;
  padding: 0 5% 10.316%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}

@media (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    padding: 0 204px 115px;
    display: block;
    margin: auto;
    max-width: 360px;
  }
}

@media (min-width: 1024px) {
  .cover__subtitle {
    padding: 0 332px 195px;  
  }
}

@media (min-width: 1280px) {
  .cover__subtitle {
    padding: 0 412px 245px;  
  }
}
