.lang__style {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  padding: 14px 0 6px;
  margin: 0;
  text-decoration: none;
}

@media (min-width: 768px) {
  .lang__style{
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    padding: 18px 0 6px;
  }
}