.lead__title {

  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 768px) {
  .lead__title {

    font-size: 12.5vw;
    line-height: 100%;
  }
}

@media (min-width: 768px) {
  .lead__title{
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
  }
}