.place__paragraph {
  font-size: 16px;
  line-height: 163%;
  font-weight: normal;
  margin: 0 0 26px;
  padding: 0 16px;
}

.place__paragraph:last-child {
  margin: 0;
}

@media (min-width: 768px) {
  .place__paragraph {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
  }
}

