.places__ul {
  padding: 0;
  display: grid;
  margin: 0;
  row-gap: 50px;
}

@media (min-width: 768px) {
  .places__ul {
    row-gap: 73px;
  }
}

@media (min-width: 1024px) {
  .places__ul {
    row-gap: 80px;
  }
}