.place__website_url-heading {
  margin: 32px 0 12px;
  color: #AAAAAA;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;

}

@media (min-width: 768px) {
  .place__website_url-heading {
    margin: 0 0 12px 0;
    line-height: 170%;
  }
}

@media (min-width: 1024px) {
  .place__website_url-heading {
    line-height: 170%;
  }
}



/*
.place__website_url-heading {
  color: #AAAAAA;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  margin: 32px 0 12px;
}

@media (min-width: 868px) {
  .place__website_url-heading {
    line-height: 170%;
  }
}
*/