.place-card__title {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
}

@media (min-width: 768px) {
  .place-card__title {
    font-size: 42px;
    line-height: 46px;
    white-space: pre-line;
  }
}

@media (min-width: 1024px) {
  .place-card__title {
    font-size: 72px;
    line-height: 76px;
  }
}