.lead__subtitle{
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  margin: 16px auto 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  .lead__subtitle {
    font-size: 5vw;
    line-height: 100%;
  }
}

@media (min-width: 720px) {
  .lead__subtitle{
    font-size: 30px;
    line-height: 36px;
    max-width: 600px;
    margin: 32px auto 0;
  }
}