.cover {
  position: relative;
  background: url(../../images/cover/background.png);
  background-size: cover;
  background-position: center;
  max-width: 1184px;
  margin: 66px auto 0;
  z-index: 1;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
}

.cover:hover::after {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .cover {
    margin: 90px 0 0;
  }
}

@media (min-width: 1024px) {
  .cover {
    margin: 92px auto 0;
  }
}
