.cover__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 900;
  font-size: 10vw;
  line-height: 109.375%;
  padding: 10.316% 8% 5.377%;
  margin: 0 auto;
  width: 78%;
}

@media (min-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    padding: 116.2px 104px 32px;  
  }
}

@media (min-width: 1024px) {
  .cover__title {
    padding: 196.2px 232px 32px;  
  }
}

@media (min-width: 1280px) {
  .cover__title {
    padding: 246.2px 312px 32px;  
  }
} 
